* {
  box-sizing: border-box;
  color: #333;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #414953;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.root {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  &__wrapper {
    width: 90%;
    max-width: 32em;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__logo {
    width: 12.5em;
    height: 2.8125em;
    background: url("../assets/lendinvest-logo.svg") no-repeat center;
    border-radius: 0.125em;
    display: inline-block;
    padding: 0.3125em;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(#fbf162, 0.1);
    }
  }

  &__title {
    color: #393f46;
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1.25em;
  }

  &__content {
    background-color: #f5f5f5;
    margin-top: 0.9375em;
    padding: 1.875em;
  }
}

.loan {
  background-color: #ffffff;
  border: 0.0625em solid #d3d3d3;
  margin-top: 0.9375em;
  padding: 0.9375em;

  &:first-child {
    margin-top: 0;
  }

  &__title {
    color: #393f46;
    font-size: 1em;
    font-weight: 700;
  }

  &__content {
    display: flex;
    align-items: center;
    margin-top: 0.625em;
  }

  &__right-part {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }

  &__left-part {
    width: 70%;
    padding-right: 0.3125em;
  }

  &__text,
  &__loan-amount,
  &__current-amount {
    font-size: 0.75em;
    margin-top: 0.3125em;
  }

  &__button {
    background-color: #f9e937;
    border: 0.0625em solid #e8d933;
    font-size: 1em;
    cursor: pointer;
    padding: 0.625em 1.97125em;
    text-transform: uppercase;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
      background-color: rgba(#f9e937, 0.3);
    }

    &:active {
      background-color: #e8d933;
    }
  }

  &__invest-amount {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;

    .loan__button {
      margin-left: auto;
    }
  }

  &__invest-title {
    margin-bottom: 0.9375em;
  }

  &__invest-input {
    width: 55%;
    color: #000000;
    font-size: 1.125em;
    padding: 0 0.3125em;
    text-align: right;

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;

  &_active {
    pointer-events: auto;
  }

  &__overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.7);
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 0.9375em;
    height: 0.9375em;
    background: url("../assets/close-button.svg") no-repeat center;
    display: inline-block;
    cursor: pointer;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translate(10%, -10%);
    }
  }

  &__container {
    width: 95%;
    max-width: 20em;
    height: 70%;
    max-height: 13.4375em;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    padding: 0.9375em;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 0.8em;
    margin-top: 1.25em;
  }

  &__title {
    position: relative;
    margin: 0;
  }

  &__sub-title {
    font-size: 0.8em;
  }
}